html, body{
    background: #000;
    height: 100vh;
    overflow: hidden;
}

#overlay-content{
    display: none;
    position: absolute;
    margin: 5rem;
    width: calc(100vw - 10rem);
    height: calc(100vh - 10rem);
    z-index: 50;
}

#overlay-content.show{
    display: block;
}

#overlay{
    display: none;
    position: absolute;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100vw;
    z-index: 40;
}

#overlay.show{
    display: block;
}

#menu-title-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#menu-title-bar-text{
    margin-top: 1rem;
}

#menu-items-container{
    height: calc(100% - 2.75rem);
    padding: 0.5rem;
    padding-bottom: 1.25rem;
    padding-top: 0rem;
}

#table-id{
    display: inline-block;
    margin-left: .5rem;
}

#qty-txt{
    height: 2rem;
    line-height: 2rem;
    font-size: 2rem;
    text-align: center;
}

.top-bar{
    margin-right: 15px;
    margin-left: 0;
}

.table-text-container{
    height: calc(10vh + 0.575rem);
    color: #fff;
}

.table-text-inner{
    display: inline-block;
}

.table-text{
    line-height: 5vh;
    font-size: 5vh;
    font-family: 'Product Sans';
    margin-top: calc(2.5vh + 0.375rem);
    margin-bottom: calc(2.5vh + 0.2rem);
}

.order-menu{
    display: inline-block;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #fff;
}

.order-item-img{
    width: 100%;
    height: calc(100% - 10rem);
    object-fit: cover;
    object-position: center;
}

.order-item-infobox{
    height: 10rem;
    width: 100%;
    font-family: 'Product Sans';
    padding: 0.75rem;
}

.order-item-name{
    font-size: 3rem;
    line-height: 3rem;
}

.order-item-description{
    margin-top: 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.order-item-price{
    margin-top: .25rem;
    font-size: 1rem;
    line-height: 1rem;
}

.order-item-bottom-row{
    margin-left: -1px;
    margin-right: -1px;
}

.order-item-block{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.order-side{
    height: 10rem;
}

.order-count-wrapper{
    height: 50%;
    background-color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.add-button-order{
    height: 50%;
    background-color:#00c853;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.add-button-order.red{
    background-color:#f44336;
}

.order-increment-btn{
    height: 50%;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.order-increment-btn.green{
    background-color:#69f0ae;
}

.qty-label.spacer{
    height: 10%
}

.qty-label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20%;
    font-family: 'Product Sans';
    font-size: 100%;
    line-height: 100%;
}

.qty{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.order-increment-btn.red{
    background-color:#ff5252;
}

.add-button-icon-order{
    height: 75%;
    width: 75%;
    object-fit: contain;
    object-position: center;
}

.menu-item{
    display: inline-block;
    border-radius: 1rem;
    height: 11rem;
    width: calc((100% - 4rem) / 2);
    margin: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    overflow: hidden;
}

.menu-item-img{
    width: 100%;
    height: calc(100% - 4rem);
    object-fit: cover;
    object-position: center;
}

.menu-item-infobox{
    height: 4rem;
    width: 100%;
    font-family: 'Product Sans';
    padding: 0.75rem;
}

.menu-item-name{
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.menu-item-price{
    margin-top: .25rem;
    font-size: 1rem;
    line-height: 1rem;
}

.menu-item-bottom-row{
    margin-left: -1px;
    margin-right: -1px;
}

.add-button{
    height: 4rem;
    background-color:#00c853;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.add-button-icon{
    height: 75%;
    width: 75%;
    object-fit: contain;
    object-position: center;
}

.menu-item-block{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.navbar{
    height: calc(10vh + 1.325rem); 
    padding-bottom: 0.25rem !important;
}

.navbar-brand-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-brand{
    margin-left: 1rem;
    padding-bottom: 0;
}

.mainselection{
    height: calc(90vh - 1.075rem); 
    padding-bottom: 0.5rem;
}

.item-menu{
    background: #fff;
    border-radius: 1rem;
    position: relative;
    z-index: 3;
}

.category-selector{
    height: 100%;
    border-left: 1rem;
    overflow: hidden;
}

.menu-category{
    font-family: 'Product Sans';
    position: relative;
    height: 6rem;
    background: #fff;
    margin: 0 0 0 0;
    border-radius: 1rem 0 0 1rem;
    margin-bottom: 0.5rem;
    transition: all 2s;
    width: 100%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.category-text{
    margin: 0;
}

.menu-category.selected{
    z-index: 0;
}

.dropTop{
    position: relative;
    z-index: 1;
    height: 2rem;
    margin: 0rem -1rem -1rem -1rem;
    box-shadow: 0rem -0.5rem 1rem 0rem rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.dropTop.show{
    opacity: 1;
}

.dropBottom{
    position: relative;
    z-index: 1;
    height: 2rem;
    margin: -1rem -1rem 0 -1rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.dropBottom.show{
    opacity: 1;
}

.dropShadow{
    box-shadow: 0px 0px 1rem 0.5rem rgba(0,0,0,0.3);
}

.forceScroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 2rem);
    margin: 0;
}

.fillHeight{
    height: 100%;
}

.autoMargin{
    margin: auto;
}

.noSidePadding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.noLeftPadding{
    padding-left: 0 !important;
}

.noRightPadding{
    padding-right: 0 !important;
}

.noBottomPadding{
    padding-bottom: 0 !important;
}

.noBottomMargin{
    margin-bottom: 0 !important;
}

.noSideMargin{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.customscroll::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #fff;
}

.customscroll::-webkit-scrollbar{
	width: 10px;
	background-color: #fff;
}

.customscroll::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #999;
}