*{
    font-family: 'Product Sans';
}

.vert-spacer{
    height: calc(100vh - 5rem - 84px);
}

.infopanel{
    margin-top: 2rem;
    height: calc(100vh - 5rem - 84px);
}

.orders{
    height: calc(100vh - 5rem - 84px);
    width: calc(50% - 1rem);
    margin-right: 1rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.actions{
    height: calc(100vh - 5rem - 84px);
    margin-left: 1rem;
    width: calc(50% - 1rem);
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.dropShadow{
    box-shadow: 0px 0px 1rem 0.5rem rgba(0,0,0,0.3);
}

.forceScroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 2rem);
    margin: 0;
}

.fillHeight{
    height: 100%;
}

.autoMargin{
    margin: auto;
}

.noSidePadding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.noLeftPadding{
    padding-left: 0 !important;
}

.noRightPadding{
    padding-right: 0 !important;
}

.noBottomPadding{
    padding-bottom: 0 !important;
}

.noBottomMargin{
    margin-bottom: 0 !important;
}

.noSideMargin{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.customscroll::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #fff;
}

.customscroll::-webkit-scrollbar{
	width: 10px;
	background-color: #fff;
}

.customscroll::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #999;
}

.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}