<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/headmain.ejs%>
</head>
<body>
    <div class="container">
        <nav class="navbar col-sm-10">
            <h2>Oxygen POS</h2>
        </div>
        <div class="col-6">

        </div>
    </div>
</body>
</html>