<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/headmain.ejs%>
    <link rel="stylesheet" href="/static/css/pos.css">
</head>
<body>
    <!-- Implementable POS Framework here -->
    <div class="container">
        <nav class="navbar col-12">
            <h2>Oxygen POS</h2>
        </div>
        <div class="row noSideMargin">
            <div class="col-10 container">
                <div class="input-group">
                    <input type="text" class="form-control" value="" placeholder="Enter Table number to look up" id="table-input">
                    <div onclick="lookUp($('#table-input').val())" class="input-group-append">
                        <span class="input-group-text">Look up</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row noSideMargin center-content">
            <div class="col-10 row infopanel noSidePadding">
                <div class="container orders">
                </div>
                <div class="container actions">
                </div>
            </div>
        </div>
    </div>
</body>
</html>